<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Relay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueBlackCondensed.ttf</string>
		<string>HelveticaNeueBoldCondensed.ttf</string>
		<string>HelveticaNeueCyr-Black.ttf</string>
		<string>HelveticaNeueCyr-BlackItalic.ttf</string>
		<string>HelveticaNeueCyr-Bold.ttf</string>
		<string>HelveticaNeueCyr-BoldItalic.ttf</string>
		<string>HelveticaNeueCyr-Heavy.ttf</string>
		<string>HelveticaNeueCyr-HeavyItalic.ttf</string>
		<string>HelveticaNeueCyr-Italic.ttf</string>
		<string>HelveticaNeueCyr-Light.ttf</string>
		<string>HelveticaNeueCyr-LightItalic.ttf</string>
		<string>HelveticaNeueCyr-Medium.ttf</string>
		<string>HelveticaNeueCyr-MediumItalic.ttf</string>
		<string>HelveticaNeueCyr-Roman.ttf</string>
		<string>HelveticaNeueCyr-Thin.ttf</string>
		<string>HelveticaNeueCyr-ThinItalic.ttf</string>
		<string>HelveticaNeueCyr-UltraLight.ttf</string>
		<string>HelveticaNeueCyr-UltraLightItalic.ttf</string>
		<string>HelveticaNeue-Black.ttf</string>
		<string>HelveticaNeue-BlackCondensed.ttf</string>
		<string>HelveticaNeue-BlackItalic.ttf</string>
		<string>HelveticaNeue-Bold.ttf</string>
		<string>HelveticaNeue-BoldCondensed.ttf</string>
		<string>HelveticaNeue-BoldItalic.ttf</string>
		<string>HelveticaNeue-Heavy.ttf</string>
		<string>HelveticaNeue-HeavyItalic.ttf</string>
		<string>HelveticaNeue-Italic.ttf</string>
		<string>HelveticaNeue-Light.ttf</string>
		<string>HelveticaNeue-LightItalic.ttf</string>
		<string>HelveticaNeue-Medium.ttf</string>
		<string>HelveticaNeue-MediumItalic.ttf</string>
		<string>HelveticaNeue-Roman.ttf</string>
		<string>HelveticaNeue-Thin.ttf</string>
		<string>HelveticaNeue-ThinItalic.ttf</string>
		<string>HelveticaNeue-UltraLight.ttf</string>
		<string>HelveticaNeue-UltraLightItalic.ttf</string>
	</array>
</dict>
</plist>
